<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Consent" value="false" /> <!-- Please do not tamper with this. -->
    <add key="FPSCounter" value="false" /> <!-- true/false | This will activate/deactivate the Frostbite 3 engine built-in frame rate indicator. -->
    <add key="RenderResolution" value="100" /> <!-- 100/75/50 | This will allow NFSHelper to automatically select your preferred Render Resolution. -->
    <add key="AutoLog" value="false" /> <!-- true/false | Change this along with RenderResolution/FPSCounter to skip other options. -->
    <add key="SysLocale" value="" /> <!-- en-US/fr-CA/ru-RU/etc | Manually select UI language; leave blank to use default language. -->
    <add key="WriteLog" value="false" /> <!-- true/false | This will allow NFSHelper to create a log file (only needed when you contact technical support.) -->
  </appSettings>
</configuration>